body {
  background-color: black;
  color: white;
  font-family: helvetica;
  text-align:center;
  align-content:center;
  height:90vh;
  font-size:3vw;
}

#construction {
  width: auto;
  height: auto;
  background-image: url(.../images/construction.gif);
}
