:root {
  color-scheme: light dark;
  --light-background: white;
  --light-color: black;
  --dark-background: black;
  --dark-color: white;
}

* {
  background-color: light-dark(var(--light-background), var(--dark-background));
  color: light-dark(var(--light-color), var(--dark-color));
}

body {
  font-family: helvetica;
  text-align:center;
  align-content:center;
  height:90vh;
  font-size:3vw;
}

#construction {
  width: 100%;
  height: auto;
  background-image: url(.../images/construction.gif);
}
